<!DOCTYPE html>
<html>
	<head>
		<title>حساب السن</title>
		<style>
			body {
				direction: rtl;
			}
		</style>
	</head>
	
	<body>
		<form method="post" action="/age">
			إسمك الكامل: <input type="text" name="fullname">
			<br>
			سنة ولادتك؟ <input type="text" name="yob">
			<br>
			<input type="submit" value="أحسب عمري">
		</form>
	</body>
</html>