<!DOCTYPE html>
<html>
	<head>
		<title>صفحتي الشخصية</title>
	</head>
	
	<body>
		<h1>مادة مدخل إلى برمجة مواقع الإنترنت</h1>
		<hr>
		
		<p>
		في هذه المادة التفاعلية سنأخذك من نقطة البداية في مجال برمجة و تصميم مواقع الإنترنت إلى مرحلة تكون قادر فيها على تصميم موقع بسيط خاص بك مرتبط بقاعدة بيانات. سنقوم بتعريفك بعدد كبير من التقنيات المختلفة التي ستجعل رحلتك تجاه الإحتراف أسهل.
		</p>
		
		<p>
		سنبدأ معك باستعراض أساسيات الأساسيات، على سبيل المثال سنخبرك لماذا يجب أن تستخدم مايسمى بمحرر نصوص لكتابة أكوادك البرمجية، و سنريك كيف يمكن ان تجعل جهاز كمبيوتر سيرفر و منصة برمجية، ثم سنريك كيف تأخذ موقع إلى الإنترنت ليراه كل العالم.
		</p>
		<hr>
		
		<h3>عناوين المحاضرات</h3>
		<ul>
			<li>المحاضرة الاولى: الأساسيات</li>
			<li>المحاضرة الثانية: مبادئ البرمجة باستخدام روبي</li>
			<li>المحاضرة الثالثة: تصميم الواجهة</li>
		</ul>
	</body>
</html>